 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Namaste 🙏, I am a Software Engineer who enjoys finding the solution to real world problems and constantly working on new innovative ideas at Research &amp; Innovation Lab, Digital Infuzion.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our team's main goal is to empower medical researchers, doctors, and patients i.e., empowering medical researchers to get deeper insights, empowering doctors to assess patients based on objective data and empowering patients to better understand and manage their own health. This is a brief explanation of what we do at DIFZ. Yes, we are building a better tomorrow for medical research</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
