    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="arpitdsoni"><a class="LI-simple-link" href='https://www.linkedin.com/in/SoniArpitD?trk=profile-badge'>Arpit Soni</a></div>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
