<!-- Post Limited Section -->
<section id="post-limited">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Blog</h2>
          <hr class="star-primary">
        </div>
      </div>
    </div>
    <div class="row mt-5">
        {% assign sorted = site.categories['blog'] | sort:"date" | reverse %}
        {% for post in sorted limit:3 %}
      <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href="{{ post.url | relative_url }}">
              <h5 class="card-title">{{ post.title }}</h5>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%B %-d, %Y" }}</h6>
            <p class="card-text">{{ post.desc }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 id="Blog" style="padding-top: 1.5em">
            <a href="/blog"> More </a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
