<!-- Post All Section -->
<section id="post-all">
  <div class="container">
    <div class="row">
      {% assign sorted = site.categories['blog'] | sort:"date" | reverse %}
      {% for post in sorted %}
      <div class="col-lg-4 mt-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href="{{ post.url | relative_url }}">
              <h5 class="card-title">{{ post.title }}</h5>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%B %-d, %Y" }}</h6>
            <p class="card-text">{{ post.desc }}</p>
          </div>
        </div>
      </div>
      <!-- {% if forloop.counter | divisibleby:"4" and not forloop.last %}
        </div><div class="row mt-3">
      {% endif %} -->
      {% endfor %}
    </div>
  </div>
</section>
